html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.radc-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.radc-title {
    margin-top: 10px;
    box-shadow: 0px 3px 5px 5px antiquewhite;
    background: antiquewhite;
}

.radc-component {
    background: antiquewhite;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 5px antiquewhite;
}

.radc-options {
    display: flex;
    flex-wrap: wrap;
}

.radc-options > div {
    flex: 1 1 50%;
}

.radc-rest {
    margin-top: 10px;
    text-align: right
}